@use "colors";

table {
    border-collapse: collapse;
}
.critter-table {
    &-icon-owl {
        color: transparent;
        &-done {
            @extend .critter-table-icon-owl;
            color: white;
        }
        &::before {
            transform: translateY(1px);
            content:'\0041';
            line-height: inherit !important;
        }
    }
    .clickable {
        cursor: pointer;
    }
    th {
        padding-top:1px;
        padding-right:1px;
        padding-left:1px;
        color:white;
        font-size:11.0pt;
        font-weight:700;
        font-style:normal;
        text-decoration:none;
        font-family:Ubuntu, sans-serif;
        text-align:general;
        vertical-align:bottom;
        background:black;
        white-space:nowrap;
    }
    td {
        padding-top:1px;
        padding-left: 4pt;
        padding-right: 4pt;
        color:white;
        font-size:11.0pt;
        font-weight:400;
        font-style:normal;
        text-decoration:none;
        font-family:Ubuntu, sans-serif;
        text-align:general;
        vertical-align:bottom;
        border-right:none;
        border-bottom:none;
        border-left:none;
        white-space:nowrap;
        &:first-child {
            border-right: 2pt solid white;
            text-align: right;
        }
    }
    
    tr th:last-of-type::after {
        content: "         ";
        white-space: pre;
    }

    th:last-child, td:last-child {
        width: 100%;
    }

    tbody tr:first-child td {
        border-top:1.0pt solid white;
    }
    tr:nth-child(2n-1) td:first-child {
        background-color: #333333 !important;
    }
    tr:nth-child(2n) td:first-child {
        background-color: #474747 !important;
    }
    
    &.blue tr:nth-child(2n-1) td {
        background-color: #333333;
        //background:#305496;
    }
    &.blue tr:nth-child(2n) td {
        background-color: #474747;
        //background:#4472C4;
    }
    &.blue tr.done:nth-child(2n-1) td {
        background:#305496;
        //background:rgba(65, 20, 0);
    }
    &.blue tr.done:nth-child(2n) td {
        background:#4472C4;
        //background:rgb(98, 30, 0);
    }
    .month {
        width: 100%;
        font-size: small;
    }
    .month div {
        width: 1em;
    }
    .check.yes {
        text-shadow: 2px 2px 5px green;
    }
    .check.no {
        text-shadow: 2px 2px 5px red;
    }
}
